 .link:hover{
      
      background-color:#ccc !important;
      color:#000 !important;
      }
      
.dashboard
{
	background-color:#c6aa5d !important;
      color:#fff !important;
}
.live_session
{
	background-color:#c6aa5d !important;
      color:#fff !important;
}

.initialize_record
{
	background-color:#c6aa5d !important;
      color:#fff !important;
}

.video_on_demand
{
	background-color:#c6aa5d !important;
      color:#fff !important;
}
.adminArea
{
	background-color:#c6aa5d !important;
      color:#fff !important;
}
.profile
{
	background-color:#c6aa5d !important;
      color:#fff !important;
}